*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: auto;
}

header nav{
    width: 100%;
    height: auto;
    background-color: white;

    display: flex;
    justify-content: center;
}

header nav img{
    width: 8rem;
    align-self: center;
    margin: 2rem auto;
}

body .sec-one{
    width: 100%;
    height: 100vh;
    margin-top: 14rem;
    border: red solid 1px;
    position: fixed;
    display: flex;
    justify-content:end;
    
}

.boxtext{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
    padding-right: 4rem;
}

.boxtext p{
    font-size: 2.5rem;
    color: white;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.boxtext a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 15.5rem;
    height: 3rem;
    text-align: center;
    border-radius: 15px;
    padding-top: .7rem;
}

.boxtext a:hover{
    color: black;
    background-color: white;
    transition: .5s;
    cursor: pointer;
}

.sec-one .video{
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 9rem;
    left: 0;
    z-index: -100;
}